#login-container {
    display: flex;
    flex-wrap: center; 
    justify-content: space-between; 
}

#left-login, #right-login {
    flex: 1; 
    /* margin: 25px; */
}

#img-login {
    width: 85%;
    height: 600px;
}

#container-right {
    /* margin: 50px; */
    margin-top: 20px;
}