.container-description {
    background-color: #262721;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.centro-info-description {
    padding-left: 300px;
    padding-right: 300px;
}