.sector-table {
    max-width: 800px;
    background-color: #262721; 
}

.content {
    background-color: #262721;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-table-info {
    background-color: #262721;
    display: flex;
    justify-content: center;
    align-items: center;
}