.section-top-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.section-confirm-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.section-buyer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

#panel-form-buyer {
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

#panel-shop-account {
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

/* .list-event {
    margin-left: -15px;
} */