.shop-ticket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.info-evento-container {
    margin: 5px;
    background-color: white;
    width: 90%;
}

.info-evento-box {
    padding: 20px;
}