.input-icon-container {
    position: flex; 
    display: inline-block;
}

.input-with-icon {
    padding-left: 30px; 
}

.icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

