.carrousel-image-container {
    height: 388px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: 100px 100px 100px 100px rgba(0,0,0,0.74) inset !important;
    -webkit-box-shadow: 100px 100px 100px 100px rgba(0,0,0,0.74) inset !important;
}

.carousel-caption {
    margin-right: 50%;
}

.texto-border {
    text-shadow: rgb(0, 0, 0) 0px 0px 0px, rgb(0, 0, 0) 0.1px 0.1px 0px, rgb(0, 0, 0) -0.1px 0.1px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279416px 0px;
    font-weight: 500;
}